* text=auto !eol
/cDatabase.php -text
/cMongo.php -text
/cMysql.php -text
/cNoSql.php -text
/cSql.php -text
docs/404.html -text
docs/class-cDatabase.html -text
docs/class-cModel.html -text
docs/class-cMongo.html -text
docs/class-cMysql.html -text
docs/class-cNoSql.html -text
docs/class-cPDO.html -text
docs/class-cSql.html -text
docs/elementlist.js -text
docs/index.html -text
docs/resources/collapsed.png -text
docs/resources/combined.js -text
docs/resources/footer.png -text
docs/resources/inherit.png -text
docs/resources/resize.png -text
docs/resources/sort.png -text
docs/resources/style.css -text
docs/resources/tree-cleaner.png -text
docs/resources/tree-hasnext.png -text
docs/resources/tree-last.png -text
docs/resources/tree-vertical.png -text
docs/source-class-cDatabase.html -text
docs/source-class-cModel.html -text
docs/source-class-cMongo.html -text
docs/source-class-cMysql.html -text
docs/source-class-cNoSql.html -text
docs/source-class-cPDO.html -text
docs/source-class-cSql.html -text
docs/tree.html -text
/index.php -text
/mQuery.php -text
/mquery.php -text
nbproject/project.properties -text
nbproject/project.xml -text
src/cDatabase.php -text
src/cModel.php -text
src/cMongo.php -text
src/cMysql.php -text
src/cNoSql.php -text
src/cPDO.php -text
src/cSql.php -text
src/properties.php -text
tests/src/cDatabaseTest.php -text
tests/src/cMongoTest.php -text
tests/src/cMysqlTest.php -text
tests/src/cNoSqlTest.php -text
tests/src/cPDOTest.php -text
tests/src/cSqlTest.php -text
