* text=auto !eol
/cDatabase.php -text
/cModel.php -text
/cMongo.php -text
/cMysql.php -text
/cNoSql.php -text
/cSql.php -text
/mQuery.php -text
/mquery.php -text
nbproject/project.properties -text
nbproject/project.xml -text
/newjson.json -text
